/* DESKTOP FIRST */

@font-face {
    font-family: poppinsbold;
    src: url(../assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: sourcesemibold;
    src: url(../assets/fonts/SourceSansPro-SemiBold.ttf);
}

@font-face {
    font-family: sourceregular;
    src: url(../assets/fonts/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: sourcebold;
    src: url(../assets/fonts/SourceSansPro-Bold.ttf);
}

/* ------------ fontes ---------- */

h1 {
    font-family: poppinsbold;
    font-size: 40px;
    color: #ffffff;
    text-transform: uppercase;
}

h2 {
    font-family: poppinsbold;
    font-size: 56px;
    color: #333333;
}

h3 {
    font-family: poppinsbold;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
}

h4 {
    font-family: poppinsbold;
    font-size: 24px;
    color: #333333;
}

p {
    font-family: sourceregular;
    font-size: 16px;
    color: #333333;
    opacity: 50%;
}

/* classes genéricas */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.layout-grid {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.container {
    background-image: linear-gradient(to left bottom, rgba(48, 35, 174, 1), rgba(200, 109, 215, 1));
}

/* ------------------------------------------------ HEADER -------------------------------------------------- */
.headerRelap {
    width: 100%;
    height: 85px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#inputHeader {
    width: 462px;
    height: 48px;

    background-color: #ffffff;
    border-radius: 3px;
    border: none;
}

#inputHeader::placeholder {
    color: #333333;
    font-family: sourceregular;
    font-size: 16px;

    padding-left: 15px;
}

.navMenu {
    width: 342px;
    height: 17px;

    display: flex;
    justify-content: space-between;
}

.navMenu a {
    font-family: sourcesemibold;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
}

/* --------------------------------------- HOME ------------------------------------ */

.homeRelap {
    width: 100%;
    height: 688px;

    display: flex;
}

.pcHome {
    display: flex;
    justify-content: center;
    align-items: end;
}

#pcHomeImg {
    width: 884px;
    height: 576px;
}

.home {
    width: 440px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mainH1 {
    text-transform: none;
}

#mainButton {
    width: 170px;
    height: 48px;

    background-color: #FFC300;
    color: #ffffff;

    border-radius: 24px;
    border: none;

    font-family: sourcebold;
}

/* -------------------------------------------------- SECTION MORE INFORMATION -------------------------------------*/

.moreInfo {
    height: 288px;

    background-color: #FDF2FF;

    display: flex;
    justify-content: center;
    align-items: center;
}

.boxesInfo {
    width: 1151px;
    height: 88px;

    margin: none;

    display: flex;
    justify-content: space-between;
}

.boxes {
    width: 260px;
}

.boxTitle {
    display: flex;
}

#infoH3 {
    font-size: 24px;
    text-transform: none;
    color: #333333;

    margin-left: 15px;
}

#pInfo {
    width: 205px;
    height: 40px;

    margin-left: 65px;
}

/* ------------------------------------------------- PRODUCTS SECTION --------------------------------------------------- */

.products {
    width: 100%;
    height: 768px;

    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.textsProducts {
    width: 570px;
    height: 186px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#pTextCenter {
    text-align: center;
}

.productsItem {
    width: 1129px;
    height: 341px;

    display: flex;
    justify-content: space-between;
}

.product1 {
    width: 272px;
    height: 323px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product2 {
    width: 272px;
    height: 323px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product3 {
    width: 272px;
    height: 323px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product4 {
    width: 272px;
    height: 323px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#textProducts {
    color: #333333;
}

#pSeeAll {
    font-family: sourcesemibold;
    opacity: 100%;
}

/* ------------------------------------------------------------ TABS SECTION --------------------------------------------------------------- */

.shopSections {
    width: 100%;
    height: 768px;

    background-color: #FDF2FF;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.textShop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs {
    width: 1170px;
    height: 480px;

    display: flex;
    justify-content: space-between;
}

.celTab {
    width: 370px;
    height: 480px;

    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#celTabTexts {
    width: 100%;

    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#shopNow {
    width: 170px;
    height: 48px;

    background-color: #ffffff;
    color: #C86DD7;

    border-radius: 24px;
    border-color: #C86DD7;

    font-family: sourcebold;
}

.doubleTab {
    width: 770px;
    height: 224px;

    display: flex;
    justify-content: space-between;
}

.tabD1 {
    width: 370px;
    height: 224px;

    background-color: #ffffff;

}

#imgTabD1 {
    width: 305px;
    height: 198px;

    position: relative;
    bottom: 71px;
    left: 65px;
}

.tabD2 {
    width: 370px;
    height: 224px;

    background-color: #ffffff;
}

.noteTab {
    width: 770px;
    height: 224px;

    background-color: #ffffff;

    display: flex;
    justify-content: space-between;
}

#noteTabTexts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 30px;
}

.phoneAndNoteTab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#price {
    font-size: 16px;
}

/* --------------------------------------------- SHOPPING SECTION --------------------------------- */

.shopping {
    width: 100%;
    height: 768px;
    padding: 30px;

    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navShopping {
    width: 1170px;
    height: 64px;

    display: flex;
    justify-content: space-between;
}

#navShopping {
    width: 411px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

#navShopping a {
    font-family: sourcesemibold;
    font-size: 16px;
    color: #333333;
    opacity: 50%;
    text-decoration: none;
}

#itensPrice {
    font-family: sourcesemibold;
}

.productsShopping {
    width: 1170px;

    display: flex;
    justify-content: space-between;
}

.item {
    width: 270px;
    height: 432px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* border: #C86DD7 4px solid; */
    box-shadow: 16px 16px 48px 0px rgba(0, 0, 0, 0.09);
}

#circle {
    width: 48px;
    height: 48px;

    border: #C86DD7 1px solid;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#textsItems {
    width: 206px;
    height: 50px;

    display: flex;
    justify-content: space-between;
}

.arrows {
    width: 104px;
    height: 48px;

    display: flex;
    justify-content: space-between;
}

.arrow {
    width: 48px;
    height: 48px;

    border: #C86DD7 1px solid;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------------------------ SPECIFICATIONS SECTION ------------------------------------------------ */

.specifications {
    width: 100%;
    height: 768px;

    background-color: #FDF2FF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1AndTime {
    width: 1170px;
    height: 64px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

time {
    font-family: poppinsbold;
    font-size: 40px;
    color: #333333;
}

.productsSpecifications {
    width: 1170px;
    height: 475px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.txtSpecification {
    width: 270px;
    height: 368px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding-left: 30px;


    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 16px 16px 48px 0px rgba(0, 0, 0, 0.09);
}

#navProducts {
    width: 74px;
    height: 216px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#navProducts a {
    font-family: sourcesemibold;
    font-size: 16px;
    color: #333333;
    opacity: 50%;
    text-decoration: none;
}

.moreSpecification {
    width: 370px;
    height: 411px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pricesTexts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.priceSpx {
    width: 99px;
    height: 32px;

    display: flex;
    justify-content: space-between;
}

#qttTxt {
    display: flex;
    justify-content: space-between;
}

#pQtt {
    font-family: sourcesemibold;
    font-size: 16px;
    opacity: 100%;
}

.greyBar {
    width: 370px;
    height: 16px;

    background-color: #EDEDEDED;
    border-radius: 3px;
}

#buttonCart {
    width: 170px;
    height: 48px;

    background-color: #C86DD7;
    color: #ffffff;

    border-radius: 24px;
    border: none;

    font-family: sourcebold;
}

/* ----------------------------------------------------------------- CARDS SECTION --------------------------------------------------- */

.cards {
    width: 100%;
    height: 768px;

    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.cardsBox {
    width: 1170px;
    height: 416px;

    display: flex;
    justify-content: space-between;
}

.card {
    width: 370px;
    height: 416px;

    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 16px 16px 48px 0px rgba(0, 0, 0, 0.09);
}

.txtsCards {
    width: 1170px;
    height: 94px;
}

#dateTxt {
    font-family: sourcesemibold;
    font-size: 12px;
    opacity: 100%;
}

/* ---------------------------------------------------------- FOOTER ----------------------------------------------------------------- */

.footer {
    width: 100%;
    height: 720px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.footerTop {
    width: 100%;
    height: 384px;

    background-color: #3023AE;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#oval1 {
    width: 100px;
    height: 100px;
    border-radius: 100%;

    background-image: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
    position: absolute;
    left: 810px;
    bottom: -4208px;
}

#oval2 {
    width: 140px;
    height: 140px;
    border-radius: 100%;

    background-image: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
    position: absolute;
    left: -80px;
    bottom: -4580px;
}

#oval3 {
    width: 323px;
    height: 323px;
    border-radius: 50%;

    background-image: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);

    position: absolute;
    left: 1070px;
    bottom: -4620px;
}


.coluna1 {
    width: 470px;
    height: 185px;
}

#footerH1 {
    font-family: poppinsbold;
    font-size: 56px;

    text-transform: none;
}

#pFooter {
    font-family: sourceregular;
    font-size: 16px;
    color: #ffffff;
}

.coluna2 {
    width: 570px;
    height: 76px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

#inputHeader{
    width: 370px;
    height: 47px;
}

.footerBottom {
    width: 100%;
    height: 336px;

    background-color: #FDF2FF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

.top {
    width: 1091px;
    height: 120px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom {
    width: 1091px;
    height: 120px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}