/* DESKTOP FIRST */

@font-face {
    font-family: poppinsbold;
    src: url(../assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: sourcesemibold;
    src: url(../assets/fonts/SourceSansPro-SemiBold.ttf);
}

@font-face {
    font-family: sourceregular;
    src: url(../assets/fonts/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: sourcebold;
    src: url(../assets/fonts/SourceSansPro-Bold.ttf);
}

/* ------------ fontes ---------- */

h1 {
    font-family: poppinsbold;
    font-size: 40px;
    color: #ffffff;
    text-transform: uppercase;
}

h2 {
    font-family: poppinsbold;
    font-size: 56px;
    color: #333333;
}

h3 {
    font-family: poppinsbold;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
}

h4{
    font-family: poppinsbold;
    font-size: 24px;
    color: #333333;
}

p {
    font-family: sourceregular;
    font-size: 16px;
    color: #333333;
    opacity: 50%;
}

/* classes genéricas */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.layout-grid {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.container {
    background-image: linear-gradient(to left bottom, rgba(48, 35, 174, 1), rgba(200, 109, 215, 1));
}

/* ------------------------------------------------ HEADER -------------------------------------------------- */
.headerRelap {
    width: 100%;
    height: 85px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#inputHeader {
    width: 462px;
    height: 48px;

    background-color: #ffffff;
    border-radius: 3px;
    border: none;
}

#inputHeader::placeholder {
    color: #333333;
    font-family: sourceregular;
    font-size: 16px;

    padding-left: 15px; 
}

.navMenu {
    width: 342px;
    height: 17px;
    
    display: flex;
    justify-content: space-between;
}

.navMenu a {
    font-family: sourcesemibold;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
}

/* --------------------------------------- HOME ------------------------------------ */

.homeRelap{
    width: 100%;
    height: 688px;

    display: flex;
}

.pcHome {
    display: flex;
    justify-content: center;
    align-items: end;
}

#pcHomeImg{
    width: 884px;
    height: 576px;
}
.home{
    width: 440px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mainH1 {
    text-transform: none;
}

#mainButton {
    width: 170px;
    height: 48px;

    background-color: #FFC300;
    color: #ffffff;

    border-radius: 24px;
    border: none;

    font-family: sourcebold;
}

/* -------------------------------------------------- SECTION MORE INFORMATION -------------------------------------*/

.moreInfo{
    height: 288px;

    background-color: #FDF2FF;  

    display: flex;
    justify-content: center;
    align-items: center;
}

.boxesInfo{
    width: 1151px;
    height: 88px;

    margin: none;

    display: flex;
    justify-content: space-between;
}

.boxes{
    width: 260px;
}

.boxTitle{
    display: flex;
}

#infoH3{
    font-size: 24px;
    text-transform: none;
    color: #333333;
    
    margin-left: 15px;
}

#pInfo{
    width: 205px;
    height: 40px;

    margin-left: 65px;
}

/* ------------------------------------------------- PRODUCTS SECTION --------------------------------------------------- */

.products {
    width: 100%;
    height: 768px;

    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.textsProducts{
    width: 570px;
    height: 186px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#pTextCenter{
    text-align: center;
}

.productsItem{
    width: 1129px;
    height: 341px;

    display: flex;
    justify-content: space-between;
}

.product1{
    width: 272px;
    height: 323px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product2{
    width: 272px;
    height: 323px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product3{
    width: 272px;
    height: 323px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product4{
    width: 272px;
    height: 323px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#textProducts{
    color: #333333;
}

#pSeeAll{
    font-family: sourcesemibold;
    opacity: 100%;
}

/* ------------------------------------------------------------ TABS SECTION --------------------------------------------------------------- */

.shopSections{
    width: 100%;
    height: 768px;

    background-color: #FDF2FF;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.tabs{
    width: 1170px;
    height: 480px;

    display: flex;
    justify-content: space-between;
}

.celTab{
    width: 370px;
    height: 480px;

    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#celTabTexts{
    width: 100%;

    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#shopNow{
    width: 170px;
    height: 48px;

    background-color: #ffffff;
    color: #C86DD7;
    
    border-radius: 24px;
    border-color: #C86DD7;
    
    font-family: sourcebold;
}

.doubleTab{
    width: 770px;
    height: 224px;

    display: flex;
    justify-content: space-between;
}

.tabD1{
    width: 370px;
    height: 224px;

    background-color: #ffffff;
}

.noteTab{
    width: 770px;
    height: 224px;

    background-color: #ffffff;
}

.phoneAndNoteTab{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
